.hero-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80vh;
    background-image: linear-gradient(to right, rgb(1, 30, 48), rgba(81,138,101,1.0));
}
.hero-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 40%;
    color: aliceblue
}
.hero-content-container>h1{
    margin: 0 0 0.5em 0;
}
.hero-content-container>h6{
    font-weight: 100;
    margin-bottom: 2em;
}
.hero-content-container>button{
    width: fit-content;
    height: fit-content;
    background-color: rgba(187,224,80, 1.0);
    color: black;
    font-weight: 500;
    padding: 0.5em;
    font-size: 1.5em;
    box-shadow: 5px 5px black;
}
.hero-content-container>button:hover{
    font-size: 1.6em;
}

.hero-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 2em;
}

header{
    background-image: linear-gradient(to right, rgb(1, 30, 48), rgba(81,138,101,1.0));
    /* background-color: black; */
    padding: 1em 3em 0 3em; 
    color: aliceblue;
    font-weight: 300;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
}
header>a{
    text-decoration: none;
}
ul{
    display: flex;
    list-style: none;
}
ul>li{
    margin: 0 0.4em;
}
.social-icons{
    display: flex;
    color: aliceblue;
}
.facebook-container:hover{
    color: rgba(187,224,80, 1.0);
}
.twitter-container:hover{
    color: rgba(187,224,80, 1.0);
}
 .instagram-container:hover{
    color: rgba(187,224,80, 1.0);
 }

.hero-image{
    height: 2.4em;
    width: 4em;
}
.project>ul{
    display: none;
    position: absolute;
    color: aliceblue;
    background-color: rgb(1, 30, 48);
    text-align: center;
  }
  .project:hover>ul{
    display: block;
  }
  .dropdown-menu{
    font-size: 1.5em;
  }
  .dropdown-menu>li{
    padding: 0.3em;
  }
  .dropdown-menu>li:hover{
    background-color: rgba(187,224,80, 1.0);
  }
  .dropdown-menu>li>a:hover{
    color: aliceblue;
  }
  